{% extends "xunjian/xunjian_base.html" %}

{% block title %} 设备巡检 {% endblock %}

{% block xunjian_content %}
    <a class="btn btn-default" href="{{ url_for('main.xj_report', host_name = host_name, type = '2', city = city) }}" role="button" style="margin : 0px 0px 15px 0px;">导出</a>
    
    <div class="panel panel-default">
        <div class="panel-heading"><h3>{{ host_name.split('.')[0] }}</h3></div>
        <div class="panel-body">
            {% for item in xunjian_data %}
                <h2 title="{{ check_to_describe.get(item.check_item) }}">{{ item.check_item }} <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></h2>
                {% if '正常' in item.err%}
                <pre class="pre-scrollable">{{ item.err}}</pre><br>
                {% else %}
                <pre class="pre-scrollable" style="background-color:#FFFF00">{{ item.err}}</pre><br>
                {% endif %}
                <pre class="pre-scrollable">{{ item.msg }}</pre><br><br>
            {% endfor %}
        </div>
    </div>
{% endblock %}



