{% extends "xunjian/xunjian_base.html" %}

{% block title %} 设备巡检 {% endblock %}

{% block xunjian_content %}
    <a class="btn btn-default" href="{{ url_for('main.xj_report', host_name = host_name) }}" role="button" style="margin : 0px 0px 15px 0px;">生成巡检报告</a>
    <div class="panel panel-default">
        <div class="panel-heading">{{ host_name.split('.')[0] }}</div>
        <div class="panel-body">
            {% for item in xunjian_data %}
                <h2>{{ item[2]}}</h2>
                <pre class="pre-scrollable">{{ item[1]}}</pre><br>
                <pre class="pre-scrollable">{{ item[0]}}</pre><br><br>
            {% endfor %}
        </div>
    </div>
{% endblock %}



