{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 报表搜索 {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{% block page_header %} 报表搜索 {% endblock %}</h1>
</div>

<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            {% if report_name == 'port_detail' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.report_port_search', report_name = 'port_detail' ) }}">端口明细</a></li>
            {% else %}
            <li role="presentation" ><a href="{{ url_for('main.report_port_search', report_name = 'port_detail' ) }}">端口明细</a></li>
            {% endif %}
            {% if report_name == 'port_statistic' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.report_port_search', report_name = 'port_statistic') }}">端口统计</a></li>
            {% else %}
                <li role="presentation" ><a href="{{ url_for('main.report_port_search', report_name = 'port_statistic') }}">端口统计</a></li>
            {% endif %}
            {% if report_name == 'card_detail' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.report_port_search', report_name = 'card_detail') }}">card明细</a></li>
            {% else %}
                <li role="presentation" ><a href="{{ url_for('main.report_port_search', report_name = 'card_detail') }}">card明细</a></li>
            {% endif %}
            {% if report_name == 'card_statistic' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.report_port_search', report_name = 'card_statistic') }}">card统计</a></li>
            {% else %}
                <li role="presentation" ><a href="{{ url_for('main.report_port_search', report_name = 'card_statistic') }}">card统计</a></li>
            {% endif %}
            {% if report_name == 'mda_detail' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.report_port_search', report_name = 'mda_detail') }}">mda明细</a></li>
            {% else %}
                <li role="presentation" ><a href="{{ url_for('main.report_port_search', report_name = 'mda_detail') }}">mda明细</a></li>
            {% endif %}
            {% if report_name == 'mda_statistic' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.report_port_search', report_name = 'mda_statistic') }}">mda统计</a></li>
            {% else %}
                <li role="presentation" ><a href="{{ url_for('main.report_port_search', report_name = 'mda_statistic') }}">mda统计</a></li>
            {% endif %}
            {% if report_name == 'address_collect' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.report_port_search', report_name = 'address_collect') }}">地址采集</a></li>
            {% else %}
                <li role="presentation" ><a href="{{ url_for('main.report_port_search', report_name = 'address_collect') }}">地址采集</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="col-md-10">
        <div style="overflow:scroll;max-height:400px">
            {% block report_content %}
            {% endblock %}
        </div>
        {% block pageination %}
        {% endblock %}
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<style>
    td { word-wrap:break-word; }
</style>
{% endblock %}
