{% extends "search/xunjian_base.html" %}

{% block title %} 设备巡检 {% endblock %}

{% block xunjian_content %}
    <form class="form-inline" method="post" action="{{ url_for('main.xunjian_search', xunjian_name = 'xunjian') }}">
        <div class="form-group">
            <label>设备名称</label>
            <select class="form-control" name = "xunjian_host_name">
                {% for i in host_list %}
                    <option>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>日期</label>
            <input type="text" class="form-control" id="card_statistic_date"  name="xunjian_date">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
    </form><br>
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            {% for item in xunjian_data %}
                <h2>{{ item.check_item}}</h2>
                <pre class="pre-scrollable">{{ item.err}}</pre><br>
            {% endfor %}
        </div>
    </div>
{% endblock %}



