{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}脚本自动配置{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>脚本自动配置</h1>
</div>


<div class="row">
        <div class="col-md-1">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">配置脚本</a></li>
                <li role="presentation"><a href="#">待定</a></li>
            </ul>
        </div>
        <div class="col-md-11">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">制作</button>
                <button type="button" class="btn btn-default">另存为</button>
            </div>
        </div>
    </div>


{% endblock %}
