{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 配置检查 {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{% block page_header %} 配置检查 {% endblock %}</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-default" href="{{ url_for('main.check_excel', host_name = host_name) }}" role="button" style="margin : 0px 0px 15px 0px;">生成表格</a>
        <div class="panel panel-default">
            <div class="panel-heading">{{ host_name.split('.')[0] }}</div>
            <div class="panel-body">
                {% for item in check_data %}
                    <h2>{{ item[2]}}</h2>
                    <pre class="pre-scrollable">{{ item[1]}}</pre><br>
                    <pre class="pre-scrollable">{{ item[0]}}</pre><br><br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
