{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 设备 {% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h1>设备</h1>
        </div>
        <table class="table table-striped table-condensed" >
            <thead>
                <tr>
                    <th>设备列表</th>
                </tr>
            </thead>
            <tbody>
                {% for item in host_data %}
                    <tr>
                        <th>{{ item[0].split('.')[0] }}</th>
                        {% if log_time %}
                        <th>{{ item[1] }}</th>
                        {% endif %}
                        <th>
                            {% if session.get('action') == 'report_port'%}
                            <a class="btn btn-default btn-sm" href="{{ url_for('main.report_port', node_name = node_name, host_name = item ) }}">报表统计</a>
                            {% endif %}
                            {% if session.get('action') == 'xunjian'%}
                            <a class="btn btn-default btn-sm" href="{{ url_for('main.xunjian', node_name = node_name, host_name = item ) }}">巡检</a>
                            {% endif %}
                            {% if session.get('action') == 'check_config'%}
                            <a class="btn btn-default btn-sm" href="{{ url_for('main.check_config', node_name = node_name, host_name = item ) }}">配置检查</a>
                            {% endif %}
                            {% if session.get('action') == 'config_backup'%}
                            <a class="btn btn-default btn-sm" href="{{ url_for('main.config_backup', node_name = node_name, host_name = item ) }}">config备份</a>
                            {% endif %}
                            {% if session.get('action') == 'load_statistic'%}
                            <a class="btn btn-default btn-sm" href="{{ url_for('main.load_statistic', node_name = node_name, host_name = item ) }}">业务负荷统计</a>
                            {% endif %}
                        </th>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
