{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
{% if action == 'xunjian' %} 设备巡检 {% endif %}
{% if action == 'report_port' %} 统计报表 {% endif %}
{% if action == 'load_statistic' %} 业务负荷 {% endif %}
{% if action == 'check_config' %} 配置检查 {% endif %}
{% if action == 'config_backup' %} config备份 {% endif %}
{% if action == 'zuxun' %} 组巡协助 {% endif %}
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h1>
                {% if action == 'xunjian' %} 设备巡检 {% endif %}
                {% if action == 'report_port' %} 统计报表 {% endif %}
                {% if action == 'load_statistic' %} 业务负荷 {% endif %}
                {% if action == 'check_config' %} 配置检查 {% endif %}
                {% if action == 'config_backup' %} config备份 {% endif %}
                {% if action == 'zuxun' %} 组巡协助 {% endif %}
            </h1>
        </div>
        {% if action == 'xunjian' %}
        <a class="btn btn-default btn-sm" href="{{ url_for('main.xj_report_all_host') }}">设备巡检报告</a>
        <a class="btn btn-default btn-sm" href="{{ url_for('main.xj_report_summary') }}">报告汇总</a>
        {% if current_user.username == 'nokia' %}
        <a class="btn btn-default btn-sm" href="{{ url_for('main.xj_report_summary', city = 'all') }}">全省报告汇总</a>
        {% endif %}
        <a class="btn btn-default btn-sm" href="{{ url_for('main.xunjian_search', xunjian_name = 'xunjian') }}">搜索</a>
        {% endif %}
        {% if action == 'report_port' %}
        <a class="btn btn-default btn-sm" href="{{ url_for('main.report_port_search', report_name = 'port_detail') }}">搜索</a>
        {% endif %}
        {% if action == 'load_statistic' %}
        <a class="btn btn-default btn-sm" href="{{ url_for('main.load_statistic_search', load_name = 'load_statistic') }}">搜索</a>
        {% endif %}
        {% if action == 'check_config' %}
        {{ wtf.quick_form(form,url_for('main.upload_check')) }}
        {% endif %}

        <table class="table table-striped table-condensed" >
            <thead>
                <tr>
                    <th>序号</th>
                    <th>设备列表</th>
                </tr>
            </thead>
            <tbody>
                {% for index, item in host_data %}
                    <tr>
                        <th>{{ index + 1 }}</th>
                        <th>{{ item.split('.')[0] }}</th>
                        <th>
                            {% if action == 'report_port'%}
                            <a class="btn btn-default btn-sm" href="{{ url_for('main.report_port',  host_name = item ) }}">统计报表</a>
                            {% endif %}
                            {% if action == 'xunjian'%}
                            <a class="btn btn-default btn-sm" href="{{ url_for('main.xunjian',  host_name = item ) }}">巡检</a>
                            {% endif %}
                            {% if action == 'check_config'%}
                            <a class="btn btn-default btn-sm" href="{{ url_for('main.check_config',  host_name = item ) }}">配置检查</a>
                            {% endif %}
                            {% if action == 'config_backup'%}
                            <a class="btn btn-default btn-sm" href="{{ url_for('main.config_backup',  host_name = item ) }}">config备份</a>
                            {% endif %}
                            {% if action == 'load_statistic'%}
                            <a class="btn btn-default btn-sm" href="{{ url_for('main.load_statistic',  host_name = item ) }}">业务负荷统计</a>
                            {% endif %}
                            {% if action == 'zuxun'%}
                            <a class="btn btn-default btn-sm" href="{{ url_for('main.zuxun',  host_name = item ) }}">组巡协助</a>
                            {% endif %}
                        </th>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
