{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{ title }} {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>统计报表</h1>
</div>
<div class="col-md-10">
    <table class="table">
        <thead>
            <tr>
                <th>命令</th>
                <th>检查项</th>
                <th>结果</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <th>{{ item[0] }}</th>
                    <th>{{ item[1] }}</th>
                    <th>{{ item[2] }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
