{% extends "report_port.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} mda明细 {% endblock %}
{% block page_header %} mda明细 {% endblock %}

{% block report_content %}
    <form class="form-inline" method="post" action="{{ url_for('main.mda_detail') }}">
        <div class="form-group">
            <label>设备名称</label>
            <select class="form-control" name = "host_name">
                {% if current_user.username == 'nokia' %}
                    {% if host_name == 'all' %}
                    <option selected value ="all">全部</option>
                    {% else %}
                    <option value ="all">全部</option>
                    {% endif %}
                {% endif %}
                {% for i in host_list %}
                    {% if i == host_name %}
                    <option selected>{{ i }}</option>
                    {% else %}
                    <option>{{ i }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>日期</label>
            <div class="input-group date form_datetime" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1">
                <input class="form-control" type="text" id="port_statistic_date"  name="date" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
        </div>
        <button type="submit" class="btn btn-default">查看</button>
        <a class="btn btn-default" href="{{ url_for('main.download_excel', host_name = host_name, table_name = 'mda_detail') }}" role="button">生成表格</a>
    </form><br>
    <table class="table table-striped table-condensed" style="min-width:2000px">
        <thead>
            <tr>
                <th>序号</th>
                <th>采集日期</th>
                <th>设备名</th>
                <th>设备IP</th>
                <th>Slot</th>
                <th>Mda</th>
                <th>Equipped Type</th>
                <th>Admin State</th>
                <th>Operational State</th>
                <th>Serial number</th>
                <th>Time of last boot</th>
                <th>Temperature</th>
                <th>Temperature threshold</th>
                <th>是否存在异常</th>
            </tr>
        </thead>
        <tbody>
            {% for index, item in mda_detail_data %}
                <tr>
                    <th>{{ index + 1 }}</th>
                    <th>{{ item.date_time }}</th>
                    <th>{{ item.host_name }}</th>
                    <th>{{ item.host_ip }}</th>
                    <th>{{ item.slot }}</th>
                    <th>{{ item.mda }}</th>
                    <th>{{ item.equipped_type }}</th>
                    <th>{{ item.admin_state }}</th>
                    <th>{{ item.operational_state }}</th>
                    <th>{{ item.serial_number }}</th>
                    <th>{{ item.time_of_last_boot }}</th>
                    <th>{{ item.temperature }}</th>
                    <th>{{ item.temperature_threshold }}</th>
                    <th>{{ item.is_abnormal }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


