{% extends "report_port.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 端口统计 {% endblock %}
{% block page_header %} 端口统计 {% endblock %}

{% block report_content %}
    <a class="btn btn-default" href="{{ url_for('main.generate_excel') }}" role="button">生成表格</a>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>设备名</th>
                <th>设备IP</th>
                <th>端口类型</th>
                <th>数量</th>
                <th>已使用</th>
                <th>剩余</th>
            </tr>
        </thead>
        <tbody>
            {% for item in port_statistic_data %}
                <tr>
                    <th>{{ item[0] }}</th>
                    <th>{{ item[1] }}</th>
                    <th>{{ item[2] }}</th>
                    <th>{{ item[3] }}</th>
                    <th>{{ item[4] }}</th>
                    <th>{{ item[5] }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


