{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 端口明细 {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{% block page_header %} 端口明细 {% endblock %}</h1>
</div>

<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            {% if action == 'report_port' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.report_port', host_name = host_name ) }}">端口明细</a></li>
            {% else %}
            <li role="presentation" ><a href="{{ url_for('main.report_port', host_name = host_name ) }}">端口明细</a></li>
            {% endif %}
            {% if action == 'port_statistic' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.port_statistic', host_name = host_name ) }}">端口统计</a></li>
            {% else %}
                <li role="presentation" ><a href="{{ url_for('main.port_statistic', host_name = host_name ) }}">端口统计</a></li>
            {% endif %}
            {% if action == 'card_detail' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.card_detail', host_name = host_name ) }}">card明细</a></li>
            {% else %}
                <li role="presentation" ><a href="{{ url_for('main.card_detail', host_name = host_name ) }}">card明细</a></li>
            {% endif %}
            {% if action == 'card_statistic' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.card_statistic', host_name = host_name ) }}">card统计</a></li>
            {% else %}
                <li role="presentation" ><a href="{{ url_for('main.card_statistic', host_name = host_name ) }}">card统计</a></li>
            {% endif %}
            {% if action == 'mda_detail' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.mda_detail', host_name = host_name ) }}">mda明细</a></li>
            {% else %}
                <li role="presentation" ><a href="{{ url_for('main.mda_detail', host_name = host_name ) }}">mda明细</a></li>
            {% endif %}
            {% if action == 'mda_statistic' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.mda_statistic', host_name = host_name ) }}">mda统计</a></li>
            {% else %}
                <li role="presentation" ><a href="{{ url_for('main.mda_statistic', host_name = host_name ) }}">mda统计</a></li>
            {% endif %}
            {% if action == 'address_collect' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.address_collect', host_name = host_name ) }}">专线地址采集</a></li>
            {% else %}
                <li role="presentation" ><a href="{{ url_for('main.address_collect', host_name = host_name ) }}">专线地址采集</a></li>
            {% endif %}
            {% if action == 'host_list_data' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.host_list_data', host_name = host_name ) }}">设备清单统计</a></li>
            {% else %}
                <li role="presentation" ><a href="{{ url_for('main.host_list_data', host_name = host_name ) }}">设备清单统计</a></li>
            {% endif %}
            {% if action == 'special_line' %}
                <li role="presentation" class="active"><a href="{{ url_for('special_line.index', host_name = host_name) }}">专线统计</a></li>
            {% else %}
                <li role="presentation" ><a href="{{ url_for('special_line.index', host_name = host_name) }}">专线统计</a></li>
            {% endif %}
            {% if current_user.username == 'nokia' %}
                {% if action == 'install_base' %}
                    <li role="presentation" class="active"><a href="{{ url_for('main.install_base', host_name = host_name) }}">installbase统计</a></li>
                {% else %}
                    <li role="presentation" ><a href="{{ url_for('main.install_base', host_name = host_name) }}">installbase统计</a></li>
                {% endif %}
                {% if action == 'net_flow' %}
                    <li role="presentation" class="active"><a href="{{ url_for('main.net_flow', host_name = host_name) }}">重要网络流量统计</a></li>
                {% else %}
                    <li role="presentation" ><a href="{{ url_for('main.net_flow', host_name = host_name) }}">重要网络流量统计</a></li>
                {% endif %}
                {% if action == 'all_card_detail' %}
                    <li role="presentation" class="active"><a href="{{ url_for('main.all_card_detail') }}">全省板卡统计明细</a></li>
                {% else %}
                    <li role="presentation" ><a href="{{ url_for('main.all_card_detail') }}">全省板卡统计明细</a></li>
                {% endif %}
                {% if action == 'all_card_statistic' %}
                    <li role="presentation" class="active"><a href="{{ url_for('main.all_card_statistic') }}">全省板卡统计汇总</a></li>
                {% else %}
                    <li role="presentation" ><a href="{{ url_for('main.all_card_statistic') }}">全省板卡统计汇总</a></li>
                {% endif %}
            {% else %}
            {% if action == 'install_base' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.install_base', city = '1') }}">installbase统计</a></li>
            {% else %}
                <li role="presentation" ><a href="{{ url_for('main.install_base', city = '1') }}">installbase统计</a></li>
            {% endif %}
            {% if action == 'all_card_detail' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.all_card_detail') }}">板卡统计明细</a></li>
            {% else %}
                <li role="presentation" ><a href="{{ url_for('main.all_card_detail') }}">板卡统计明细</a></li>
            {% endif %}
            {% if action == 'all_card_statistic' %}
                <li role="presentation" class="active"><a href="{{ url_for('main.all_card_statistic') }}">板卡统计汇总</a></li>
            {% else %}
                <li role="presentation" ><a href="{{ url_for('main.all_card_statistic') }}">板卡统计汇总</a></li>
            {% endif %}
            {% endif %}

        </ul>
    </div>
    <div class="col-md-10">
        {% block report_content2 %}
        <div style="overflow:scroll;max-height:400px">
            {% block report_content %}
            {% endblock %}
        </div>
        {% endblock %}
        {% block pageination %}
        {% endblock %}
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<style>
    td { word-wrap:break-word; }
</style>
{% endblock %}
