{% extends "statistic_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block data_content %}
    <table class="table table-striped table-condensed" style="min-width:2000px;" >
        <thead>
            <tr>
                <th>设备名</th>
                <th>设备IP</th>
                <th>ies 3000用户数量</th>
                <th>ies 3000地址池利用率</th>
                <th>vprn 4015用户数量</th>
                <th>vprn 4015地址池利用率</th>
            </tr>
        </thead>
        <tbody>
            {% for item in load_statistic_host_data %}
                <tr>
                    <th>{{ item.host_name }}</th>
                    <th>{{ item.host_ip }}</th>
                    <th>{{ item.ies_3000_num }}</th>
                    <th>{{ item.ies_3000_pool_utilization }}</th>
                    <th>{{ item.vprn_4015_num }}</th>
                    <th>{{ item.vprn_4015_pool_utilization }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
