{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}设备巡检{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>设备巡检</h1>
</div>

<div class="row">
    <div class="col-md-1">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">设备巡检</a></li>
            <li role="presentation"><a href="{{ url_for('main.xj_report') }}">巡检报告</a></li>
        </ul>
    </div>
    {% if xunjian_res %}
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">巡检结果</div>
            <div class="panel-body">
                <pre class="pre-scrollable">{{ xunjian_res }}</pre>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
